#anchorPane{
    -fx-background-color: #8E1A1A;
}
.label {
    -fx-text-fill: white;
}
.text-field {
    -fx-background-color: #2a2323;
    -fx-text-fill: white;
}
.button {
    -fx-background-color: #2a2323;
    -fx-text-fill: white;
}

#customLoginSignUp {
    -fx-background-color: #2a2323;
    -fx-text-fill: white;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

#customLoginSignUp .mfx-ripple-generator {
    -mfx-ripple-color: #362d2d; /* Ripple color (same as main color) */
    -fx-opacity: 0.5;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}