/*https://stackoverflow.com/questions/23490320/gap-between-border-and-image-when-border-radius-is-added*/

#anchorPane {
    -fx-background-color: #8E1A1A; /* Adjust colors as needed */
}
#movieAnchorPane {
    -fx-background-color: #8E1A1A;
}

#navBar {
    -fx-background-color: black;
}

#arrowButton {
    -fx-background-color: black;
    -fx-border-color: none;
    -fx-text-fill: white;
    -fx-border-radius: none;
    -fx-background-radius: 15px 15px 15px 15px;
    -fx-border-insets: -1;
    -fx-opacity: 0.6;
}

#arrowButton:hover {

    -fx-opacity: 0.8;
}

#mainDisplay{
    -fx-background-color: #8E1A1A;
}

#scrollPaneMovieDisplay{
    -fx-background-color: #8E1A1A;
}

#scrollAnchorPane {
    -fx-background-color: #8E1A1A;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #22813d, #22813d); /* Adjust colors as needed */
    -fx-border-color: #001618;
    -fx-text-fill: white;
    -fx-border-radius: 15px 15px 15px 15px;
    -fx-background-radius: 15px 15px 15px 15px;
    -fx-border-insets: -1;
}

.button:hover{
    -fx-background-color: linear-gradient(to bottom, #47ff00, #02ea06); /* Adjust colors as needed */
    -fx-background-radius: 15px 15px 15px 15px;
}

.buttonInvisible:hover{
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-border-radius: none;
    -fx-background-radius: none;
}

.buttonInvisible {
    -fx-background-color: none;
    -fx-text-fill: #8E1A1A;
    -fx-border-color: none;
    -fx-border-radius: none;
    -fx-background-radius: none;
}

.context-menu{
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-background-radius: 6 6 6 6, 5 5 5 5, 4 4 4 4;
    -fx-padding: 0.0em 0.33333em 0em 0.333333em;
}

.label  {
    -fx-text-fill: white;
}

.menu-button > .arrow-button, .menu-button > .arrow-button > .arrow { -fx-padding: 0; }
.menu-button .label {
    -fx-text-fill: white;
}
.menu-button {
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-border-color: none;
    -fx-border-radius: none;
    -fx-background-radius: none;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.menu-item{
    -fx-background-color: #444444;
    -fx-opacity: 0.85;
}

#movieTabTitle {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5, 0, 5, 0;
}

.scroll-pane {
    -fx-background-color: #8E1A1A;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #8E1A1A;
}

.text-field{
    -fx-background-color: #258a42;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
}
.timeText-field:disabled {
    -fx-opacity: 1.0; /* Set the opacity to 1.0 to make it fully visible */
}
